<section>
  <h2>Register Page</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus nisi
    aperiam voluptatem architecto id deserunt hic facere fugiat atque nihil est
    itaque officia beatae iure iusto, porro nemo eum. Facere!
  </p>
</section>
